
{{ if eq .chezmoi.os "linux" -}}
source /usr/share/zsh/plugins/zsh-autosuggestions/zsh-autosuggestions.zsh
{{ else if eq .chezmoi.os "darwin" -}}
source $(brew --prefix)/share/zsh-autosuggestions/zsh-autosuggestions.zsh
{{ end -}}
