{{ if eq .chezmoi.os "linux" -}}
source /usr/share/zsh/plugins/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
{{ else if eq .chezmoi.os "darwin" -}}
source $(brew --prefix)/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
{{ end -}}
