.config/gcloud
.config/github-copilot
.config/jgit
.config/neofetch
.config/zed/embeddings
.config/zed/prompts
.config/zed/conversations
.DS_Store
fonts/Iosevka\ Aile
fonts/IosevkaTerm\ Nerd\ Font.ttf
